html {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


p {
    color: #212121;
}
body {
    background-color: #231a24;
    
}

.header {
    background-color: #231a24;
    font-family: Arial, Helvetica, sans-serif;
    height: 120px;
    z-index: 40;
}
.-nav {
    display: flex;
    float: right;
    list-style: none;
    text-decoration: none;
    margin-right: 210px;
    z-index: 50;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    
}
.navitem {
    font-size: 20px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}

a:hover{
    color: #CB8100;
    transition: 0.6s;
}
 .experience {
        color: #fff;
        margin-left: 300px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
}
.experiencecolor {
    color: #CB8100;
}


.titulo {
    color: #fff;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 300px;
    z-index: 30;
    
} 
.text0 {
    color: #fff;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.subtitulo {
    color: #fff;
    padding: 30px 0px 30px 300px
}
.devangry {
    
    display: flex;
    width: 40vw;
    height: 40vh;
    float: right;
    margin-right: 40px;
    z-index: 20;
}


